{% extends "base.html" %}

{% block title %}Ljubljana{% endblock title %}

{% block content %}


<div class="jumbotron">
  <div class="container">
      <h3><strong>{{ ljubljana.name}}, {{ ljubljana.sys.country }}</strong></h3>
      <hr>

      <h1>{{ ljubljana.main.temp }}°C</h1>

      <h4>{{ ljubljana.weather[0].main }}, {{ ljubljana.weather[0].description }}</h4>

      <hr>

      <p>Humidity: {{ ljubljana.main.humidity }} %</p>
      <p>wind speed: {{ ljubljana.wind.speed }} km/h</p>
      <p>pressure: {{ ljubljana.main.pressure }} mBar</p>

  </div>
</div>

{% endblock content %}
