{% extends "base.html" %}

{% block title %}London{% endblock title %}

{% block content %}


<div class="jumbotron">
  <div class="container">
      <h3><strong>{{ london.name}}, {{ london.sys.country }}</strong></h3>
      <hr>

      <h1>{{ london.main.temp }}°C</h1>

      <h5>{{ london.weather[0].main }}, {{ london.weather[0].description }}</h5>

      <hr>

      <p>Humidity: {{ london.main.humidity }} %</p>
      <p>wind speed: {{ london.wind.speed }} km/h</p>
      <p>pressure: {{ london.main.pressure }} mBar</p>

  </div>
</div>

{% endblock content %}
