{% extends "base.html" %}
{% block title %}Main{% endblock title %}

{% block content %}

    <div class="bg"></div>
    <div class="jumbotron">
        <br><br>
        <br><br>
        <h1>Weather app</h1>
        <p class="lead">find out weather in your city</p>


        <div class="form-group">
            <form method="post" action="/result">
                <input type="text" class="form-control" placeholder="Type city..." name="city">
                <br>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> search</button>
            </form>
        </div>
    </div>

{% endblock content %}