{% extends "base.html" %}

{% block title %}Data{% endblock title %}

{% block content %}

<div class="site-wrapper">
    <div class="jumbotron">
         <div class="centerme text-center">
          <div class="container">
              <h3><strong>{{ data.name }}, {{ data.sys.country }}</strong></h3>

                <h4>{{ data.weather[0].main }}, {{ data.weather[0].description }}</h4>

                  <h1>{{ data.main.temp }}°C</h1>


                  <hr>

                  <p>Humidity: {{ data.main.humidity }} %</p>
                  <p>wind speed: {{ data.wind.speed }} km/h</p>
                  <p>pressure: {{ data.main.pressure }} mBar</p>

                  <hr>

                  <p> max temp: {{ forecast.list[0].main.temp }}°C </p>
                  <p> pressure: {{ forecast["list"][0]["main"]["pressure"] }}kPa </p>
                  <p> date: {{ forecast.list[0].dt_txt }}</p>

          </div>
        </div>
    </div>
</div>
{% endblock content %}
